// Primary Colors

$primaryBackgroundColor: #222831;
$secondaryBackgroundColor: #252A34;
$primaryTextColor: #EEEEEE;
$lightBorderColor: rgb(95, 95, 95);

// Sizing

$padding: 0 6rem;
$largeFontSize: 1.75rem;
$smallFontSize: 0.93rem;