.section__left, .section__right {
  @include flex(column, center, center);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.section__left {
  .section__left--image {
    width: 80%;
  }
}

.section__right {
  .section__right--title {
    font-size: 2.5rem;
  }

  .section__right--info {
    font-size: 0.9rem;
  }
}