.header {
  @include flexRow();
  
  width: 100%;
  height: 10%;
  border-bottom: 1px solid $lightBorderColor;

  .header__left, .header__right{
    width: 50%;
    height: 100%;
    padding: $padding;
  }

  .header__left {
    @include flex(row, flex-start, center);
  }

  .header__right {
    @include flex(row, flex-end, center);
  }
}